/* header{
    padding: 12px; ;
    background-color: black;
    /* width: 100%;
    height: 56px; 
}
.menu{
    margin-top: 12;


}
.menu li{
    color: #fff;
}
.menu ul{
    padding: 0%;
    margin: 0%;
    color: #fff;
}
.menu ul li{
    list-style-type: none;
    color: aliceblue;
}
h2{
    color: aliceblue;
}
.menu ul li:hover{
 color: yellow;
 cursor: pointer;
 transition: 0.4s ease-in-out;
}

.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #3f51b5;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }
   */
   .nav-link {
    color: aliceblue;
   }
  