<div>
    <app-header></app-header>
</div>

<div>
    <!-- <form id="form1"> -->
    <h1>Job Board</h1>
    <div>
        <h2>Job: Fullstack Developer</h2>
        <h3>skills:Developing and designing front end web architecture, 
            ensuring the responsiveness of applications,<br>
            and working alongside graphic designers for web design features, among other duties.</h3>

        <button type="button" (click)="btnClick()">Apply Now</button>
       
      </div>
<!-- </form> -->
<!-- <script>
    function submitFunc()
    {
        document.getElementById("form1").submit();
        var loc = window.location.search;
        alert(loc);
    }
</script> -->

</div>
<div>
    <app-footer></app-footer>
</div>