<div class="outer">
    <h2>Job Application</h2>
  
  <form [formGroup]="userForm" >
      <div class="form-group">
          <label for="name">Name: </label>
          <input id="name" type="text" formControlName="name" placeholder=" Enter Name" required>
      </div><br>
      <div class="form-group">
          <label for="email">Email: </label>
          <input id="email" type="text" formControlName="email"    placeholder="Enter Email">
      </div>
     <br>
      <div class="form-group">
          <label for="address">Address: </label>
          <input id="address" type="text" formControlName="address"  placeholder="Enter Address">
      </div>
      <br>
      <div class="form-group">
          <label for="city">City: </label>
          <input id="city" type="text" formControlName="city"   placeholder="Enter City">
      </div>
      <button type="submit"  (click)="onSubmit()">Submit</button>
      <button (click)="removeItem()">Remove</button>
      <button (click)="getAll()">ClearAll</button>
  </form>
  <!-- <script>
    function submitFunc()
    {
        document.getElementById("form1").submit();
        var loc = window.location.search;
        alert(loc);
    }
</script> -->
  </div>