<h2>User Registration form</h2>

<form [formGroup]="userForm" >
    <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name" placeholder=" Enter Name" required>
    </div>
    <div class="form-group">
        <label for="email">Email: </label>
        <input id="email" type="text" formControlName="email"    placeholder="Enter Email">
    </div>
    <!-- <div>
      <label>Gender:</label>
       <label>
      <input type="radio" name="gender" formControlName="gender" > Male
    </label>
    <label>
      <input type="radio" name="gender" formControlName="gender" > Female
    </label>
    </div> -->
    <div>
      <label>Gender:</label>
      <label *ngFor="let gender of genders">
      <input type="radio" name="gender" [value]="gender.value" formControlName="gender">
       {{gender.title}}</label>
    </div>
    <div >
      <label>Country:</label>
      <select class="form-control"  formControlName="country"  >
        <option type="select" *ngFor="let i of countryList" [ngValue]="i" value="India" >{{i}}</option>
     </select> 
    </div>
    <div class="form-group">
        <label for="address">Address: </label>
        <input id="address" type="text" formControlName="address"  placeholder="Enter Address">
    </div>
    <div class="form-group">
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city"   placeholder="Enter City">
    </div>
    <div class="checkbox">
      <label>
          <input  formControlName="checkbox"  type="checkbox" >Verify  
      </label>
      </div>
    <button type="submit"  [disabled]="!userForm.valid" (click)="onSubmit()">Submit</button>
    <button>Edit</button>
</form>
<pre>{{ userForm?.value | json }}</pre>



<!--' [(ngModel)]='userName'
<label for="name">Name: </label>
<input id="Name" type="text" placeholder="First Name" [formControl]="name" />
-->
<!-- <form [formGroup]="userForm" (ngSubmit)="updateData(userForm.value)">
    <div class="main">
      <div class="input-fields">
        <input name="name"  placeholder="Name" formControlName="Name"  id="name" type="text" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="age"  placeholder="Age"  formControlName="Age" id="age" type="number" class="input-field" />
      </div>
      <button>Edit Data </button>
    </div>
  </form> -->
<!-- 
<div> Months :
    <select>
       <option *ngFor="let i of months">{{i}}</option>
    </select>
 </div> -->